{{ define "main" }}
  <div class="flex flex-col items-center justify-center gap-8">
    <div class="flex flex-col items-center justify-center gap-4">
      {{ .Content }}
    </div>
    <div class="flex flex-col lg:flex-row flex-wrap items-stretch justify-center gap-4 lg:gap-8 mb-4 min-h-fit">
      {{ range .Paginator.Pages }}
        <div class="basis-96 flex flex-col p-6 bg-zinc-100">
          <div class="flex flex-col mb-4">
            <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
            {{ $dateMachine := .Date | time.Format "2006-01-02" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}">
              <i class="text-sm">{{ $dateHuman }}</i>
            </time>
          </div>
          {{ .Summary }}
          <a href="{{ .RelPermalink }}">[...]</a>
        </div>
      {{ end }}
    </div>
    {{- template "_internal/pagination.html" . -}}
  </div>
{{ end }}
