{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav id="main-nav" class="uppercase text-lg" data-menu-open="false">
    <ul class="flex flex-col lg:flex-row gap-0 lg:gap-4">
      {{- range . }}
        {{- $URL := .URL }}
        {{- $name := .Name }}
        {{- if not .HasChildren }}
          <li class="{{ if $page.IsMenuCurrent .Menu . }}text-white border-red-900{{ end }} pt-1 border-t-2 border-transparent hover:border-red-900 transition-all">
            <a href="{{ $URL }}">{{ $name }}</a>
          </li>
        {{- else }}
          <li class="dropdown hover:cursor-pointer pt-1 border-t-2 border-transparent hover:border-red-900 transition-all">
            <span class="hover:text-white">
              <span for="{{ $name }}">{{ $name }}</span>
              <span class="text-xs">&#9660;</span>
            </span>
            <ul class="dropdown-content lg:absolute lg:hidden lg:border lg:border-zinc-500 lg:bg-zinc-800 py-1 z-50">
            {{- range .Children }}
              <li class="px-4 py-1">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{- end }}
            </ul>
          </li>
        {{- end }}
      {{- end }}
    </ul>
  </nav>
  <button id="menu-btn" data-menu-open="false"></button>
{{- end }}
