<div class="flex flex-col gap-2 text-xl bg-zinc-100 p-4 shadow-md">
  {{- if resources.Get .Params.imgSrc }}
    <img src="{{ (resources.Get .Params.imgSrc).RelPermalink }}" alt="{{ .Params.imgAlt }}" width="{{ .Params.imgWidth }}" />
  {{- else }}
    <div class="flex items-center justify-center bg-zinc-800 text-zinc-200 opacity-80 w-fit h-fit">
      <img alt="{{ .Params.imgAlt }}" width="{{ .Params.imgWidth }}" height="{{ .Params.imgHeight }}" class="text-center text-4xl" />
    </div>
  {{- end }}
  {{ .Inner }}
</div>
